@import 'partials/reset'
@import 'partials/media'
@import 'partials/typography'
@import 'partials/blocks/bird_box'
@import 'partials/blocks/clothes_pics'
@import 'partials/blocks/large_window'
@import 'partials/blocks/blog_posts'
@import 'partials/blocks/footer'

.content
  position: relative
  z-index: 2
  background: white
  margin:
    bottom: 400px

.page-content
  width: 960px
  margin: 0 auto

+tablet
  .page-content
    width: 100%

+cell
  .page-content
    width: 100%
