body {
  background: white; }

img {
  max-width: 100%; }

.row {
  display: flex;
  lex-flow: column wrap;
  justify-content: center;
  align-items: stretch; }

.bird-box {
  position: relative;
  height: 600px;
  background-image: url(/images/bird-bg.jpg);
  background-size: auto 600px;
  background-position: top center;
  background-attachment: fixed;
  overflow: hidden; }
  .bird-box .logo {
    height: 100px;
    width: 100%;
    background-image: url(/images/black-bird-logo.svg);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -50px; }
  .bird-box .fore-bird {
    width: 960px;
    height: 733px;
    background-image: url(/images/fore-bird.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    position: absolute;
    left: 50%;
    margin-left: -480px;
    top: 380px; }
  .bird-box .back-bird {
    width: 960px;
    height: 298px;
    background-image: url(/images/back-bird.png);
    background-repeat: no-repeat;
    background-position: top left;
    position: absolute;
    left: 50%;
    margin-left: -480px; }

.clothes-pics {
  margin-bottom: 200px; }
  .clothes-pics figure {
    overflow: hidden;
    margin: 0.5em;
    position: relative;
    opacity: 0;
    transform: translateX(20px);
    transition: all 0.3s ease-in-out;
    cursor: pointer; }
    .clothes-pics figure img {
      display: block;
      transform: scale(1);
      transition: all 0.3s ease-in-out; }
    .clothes-pics figure.is-showing {
      opacity: 1;
      transform: translateX(0px); }
    .clothes-pics figure:hover figcaption {
      left: 0; }
    .clothes-pics figure:hover img {
      transform: scale(1.2); }
  .clothes-pics figcaption {
    background: black;
    color: white;
    position: absolute;
    bottom: 10px;
    left: -100%;
    padding: 2px 8px;
    font-size: 11px;
    transition: all 0.3s ease-in-out; }

.large-window {
  height: 640px;
  width: 640px;
  margin: auto;
  background-image: url(/images/model1.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: 100px;
  border-radius: 100%; }
